<footer>
    <div class="bar">
        <div class="bar-wrap">
            <ul class="links">
                <li><a href="#">Начало</a></li>
                <li><a href="#">За нас</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">Банери</a></li>
                <li><a href="#">SMS Услуги</a></li>
            </ul>

            <div class="social">
                <a href="#" class="fb">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>

                <a href="#" class="tw">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>

                <a href="#" class="rss">
                    <i class="fa fa-youtube-square fa-2x"></i>
                </a>
            </div>
            <div class="clear"></div>
            <div class="copyrightz">Редакции: <b>HybridMind</b> &copy; 2020 All Rights Reserved</div>
        </div>
    </div>
</footer>

</div>